<div th:fragment="content" id="content">

    <div class="container-fluid">
        <div class="card shadow mb-4 mt-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Actores</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="actorpeliculaTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Id Actor</th>
                            <th>Actor</th>
                            <th>Id Pelicula</th>
                            <th>Pelicula</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Id Actor</th>
                            <th>Actor</th>
                            <th>Id Pelicula</th>
                            <th>Pelicula</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/crud/actorpeliculaCrud.js}"></script>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
